<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mocare Portfolio</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="{% static './assets/images/logo.ico'%}" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static './assets/css/style.css'%}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
  <style>
    .avatar-box {
      border-radius: 10%;
      background-color: red;
      overflow: hidden;
      width: 120px; /* Default width for larger screens */
       
    }
    .avatar-box img {
      width: 100%; /* Make the image fill the container */
      height: auto; /* Maintain aspect ratio */
    }
  
    /* Media query for phones */
    @media (max-width: 600px) {
      .avatar-box {
        width: 80px; /* Smaller size for phones */
        height: 80px; /* Maintain aspect ratio */
      }
    }
  </style>
</head>

<body>

  <!--
    - #MAIN
  -->

  <main>

    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="{% static './mokea2/of.jpeg'%}" alt="Richard hanrick" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Merensiana Mokea">Merensiana Mokea</h1>

          <p class="title">Web developer</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:mocareabraham07@gmail.com" class="contact-link">mocareabraham07@gmail.com</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+12133522795" class="contact-link">+255 656 940 180</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="1982-06-23">June 26, 2001</time>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Dar es salaam Tanzania</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        <ul class="social-list">

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li class="social-item">
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>portfolio</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Contact</button>
          </li>

        </ul>

      </nav>





      <!--
        - #ABOUT
      -->

      <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>
            My name is <b> Merensiana Mokea</b>, I am a girl With a passion for technology and a keen eye for design,
            delivers innovative web solutions that meet clients' needs and exceed their expectations.
            I enjoy
            turning complex problems into simple, beautiful and intuitive designs.
          </p>

          <p>
            My job is to build your website so that it is functional and user-friendly but at the same time attractive.
            Moreover, I
            add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring
            across your
            message and identity in the most creative way. 
        </section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title">What i'm doing</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static './assets/images/icon-dev.svg'%}" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title"> Web design </h4>

                <p class="service-item-text">
                  Innovative Web Design for Modern Businesses,
                  "Designing Experiences, Shaping Interactions"                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static './assets/images/icon-dev.svg'%}" alt="Web development icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Web development</h4>

                <p class="service-item-text">
                  High-quality development of sites at the professional level.
                  "Building the Web, Empowering Your Vision"
                </p>
              </div>

            </li>

            <li class="service-item">

                <div class="service-icon-box">
                  <img src="{% static './assets/images/icon-dev.svg'%}" alt="Web development icon" width="40">
                </div>
  
                <div class="service-content-box">
                  <h4 class="h4 service-item-title">System development</h4>
  
                  <p class="service-item-text">
                    Turning Ideas into Seamless Systems  
                    "Engineering Solutions, Driving Innovation"                   </p>
                </div>
  
              </li>
  
            <li class="service-item">

              <div class="service-icon-box">
                <img src="{% static './assets/images/icon-photo.svg'%}" alt="camera icon" width="40">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Graphics</h4>

                <p class="service-item-text">
                  I make high-quality graphic of any category at a professional level.
                  "Crafting Visual Stories, Inspiring Creativity"
                </p>
              </div>

            </li>

          </ul>

        </section>



        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="{% static './assets/images/avatar-1.png'%}" alt="Daniel lewis" width="80" data-modal-img>
              </figure>

              <img src="{% static './assets/images/icon-quote.svg'%}" alt="quote icon">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time datetime="2021-06-14">14 June, 2021</time>

              <div data-modal-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>

            </div>

          </section>

        </div>


      </article>





      <!--
        - #RESUME
      -->

      <article class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">ARDHI UNIVERSITY</h4>

              <span>2021 — 2024</span>

              <p class="timeline-text">
                Information system management
                involves the strategic oversight and administration of an organization's information technology (IT) infrastructure 
                to ensure efficient and effective data processing, storage, and communication This discipline encompasses the planning, 
                development, implementation and maintenance of information systems to support business operations, 
                decision-making, and competitive advantage.

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">MKUU HIGH SCHOOL</h4>

              <span>2019— 2021</span>

              <p class="timeline-text">
                PCM,
                Physics,chemistry and pure advanced mathematics

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">ST MARGARETH MARIA ALAKOK</h4>

              <span>2015 — 2018</span>

              <p class="timeline-text">
                science
              </p>

            </li>

          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">PROFFESIONAL EXPERIENCE</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Industrial practical training at Melian software</h4>

              <span>July 2023-October 2023 </span>

              <p class="timeline-text">
                supported system administration tasks, like registering new customers, validate their
credentials and give them support as per system service is concerned
IT support
Assisted users with software installations, upgrades and configuration.
Troubleshoot and resolve hardware and software issues.
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">remote graphic works with Sky watches shop</h4>

              <span>January 2023-present </span>

              <p class="timeline-text">
              Poster designing,
              Logo design,
              Company profile,
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Web designer</h4>

              <span>2023-present</span>

              <p class="timeline-text">
                Designin Websites for organizations
              </p>

            </li>

          </ol>

        </section>

        <section class="skill">

          <h3 class="h3 skills-title">My skills</h3>

          <ul class="skills-list content-card">

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Web design</h5>
                <data value="80">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Graphic design</h5>
                <data value="70">70%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 70%;"></div>
              </div>

            </li>
            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">UI/UX design</h5>
                <data value="70">90%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">Branding</h5>
                <data value="90">90%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 90%;"></div>
              </div>

            </li>

            <li class="skills-item">

              <div class="title-wrapper">
                <h5 class="h5">WordPress</h5>
                <data value="50">80%</data>
              </div>

              <div class="skill-progress-bg">
                <div class="skill-progress-fill" style="width: 80%;"></div>
              </div>

            </li>

          </ul>

        </section>

      </article>





      <!--
        - #oOLIO
      -->

      <article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">projects</h2>
        </header>

        <section class="projects">

          <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Web design</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>System development</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Web development</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web design</button>
              </li>

              <li class="select-item">
                <button data-select-item>Web development</button>
              </li>

            </ul>

          </div>

          <ul class="project-list">

            <li class="project-item  active" data-filter-item data-category="web development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static './mokea2/home.png'%}" alt="marathon" loading="lazy">
                </figure>

                <h3 class="project-title">marathon</h3>

                <p class="project-category">Web development</p>

              </a>
            </li>
            
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static './mokea2/ui.jpeg'%}" alt="Tigopesa App" loading="lazy">
                </figure>

                <h3 class="project-title">Tigopesa App</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static './mokea2/ux.jpeg'%}" alt="Sample UI/UX App" loading="lazy">
                </figure>

                <h3 class="project-title">Sample UI/UX App"</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="web design">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static './mokea2/dota.png'%}" alt="fundo" loading="lazy">
                </figure>

                <h3 class="project-title">dotaafrica</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>
            

            <li class="project-item  active" data-filter-item data-category="web design">
              
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static './mokea2/eb.jpeg'%}" alt="Sample site" loading="lazy">
                </figure>

                <h3 class="project-title">Sample site</h3>

                <p class="project-category">Web design</p>

              </a>
            </li>

            <li class="project-item  active" data-filter-item data-category="system development">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static './mokea2/system.jpeg'%}" alt="logistics" loading="lazy">
                </figure>

                <h3 class="project-title">logistics</h3>

                <p class="project-category">system development</p>

              </a>
            </li>

        

            <li class="project-item  active" data-filter-item data-category="system development">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="{% static './mokea2/marapayment.png'%}" alt="arrival" loading="lazy">
                </figure>

                <h3 class="project-title">system</h3>

                <p class="project-category">system development</p>

              </a>
            </li>
            <li class="project-item  active" data-filter-item data-category="system development">
            
          </ul>

        </section>

      </article>





  

      <!--
        - #CONTACT
      -->

      <article class="contact" data-page="contact">

        <header>
          <h2 class="h2 article-title">Contact</h2>
        </header>

        
        <section class="contact-form">

          <h3 class="h3 form-title">Contact Form</h3>

          <form action="#" class="form" data-form>

            <div class="input-wrapper">
              <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>

              <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
            </div>

            <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>

            <button class="form-btn" type="submit" disabled data-form-btn>
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>

          </form>

        </section>

      </article>

    </div>

  </main>






  <!--
    - custom js link
  -->
  <script src="{% static './assets/js/script.js'%}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html> 
</html> 